doctype html
html(lang="ru")
  head
    title Amo Websocket Server

  body
    h1 Amo Websocket Server

    ul 
      li 
        a(href='/users') участники
      li 
        a(href='/messages') сообщения
